/.DS_Store
elpa/
quelpa/
custom.el
*~
/recentf
/history
/srecode-map.el
*.elc
/irony/bin/irony-server
request/
url/
/elpy/
/.cache/
/transient/
/eln-cache/
/helm-adaptive-history
/projects
/ielm-history.eld
.lsp-session-*

# straight.el
straight/repos/
straight/build*/
straight/modified/
straight/build-cache.el
!straight/versions/